[submodule "images"]
	path = images
	url = https://github.com/konstantinoscharitosP2020197/images
    branch = master
[submodule "_gallery"]
	path = _gallery
	url = https://github.com/pibook/_gallery.git
	branch = master
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/konstantinoscharitosP2020197/extras
	branch = master
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/konstantinoscharitosP2020197/_quotes
	branch = master
[submodule "_notes"]
	path = _notes
	url = https://github.com/konstantinoscharitosP2020197/notes
	branch = master
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/konstantinoscharitosP2020197/bibliography
	branch = master
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/konstantinoscharitosP2020197/text
	branch = main 
[submodule "_includes/_notes"]
	path = _includes/_notes
	url = https://github.com/konstantinoscharitosP2020197/notes
